<% if (theme.disqus_shortname){ %>
<section class="comments" id="comments">
    <div id="disqus_thread" align="center">
        <font style="color:#c8c8c8;font-weight:bold;">查看评论「请确保您的网络可以访问disqus.com」</font>
    </div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
<% } %>
