<%- partial('_partial/header', {
    title: locals.title || theme.categories_title,
    hdClass: 'categories-header'
}) %>
<div class="container body-wrap fade">
    <div class="waterfall">
        <% page.posts.each(function(post){ %>
            <%- partial('_partial/archive', {post: post, date_format: config.date_format}) %>
        <% }) %>
    </div>
    <%- partial('_partial/paginator') %>
</div>
