<%- partial('_partial/header', {
    title: locals.title || theme.tags_title,
    hdClass: 'tags-header'
}) %>
<div class="container body-wrap fade">
    <%
        if(is_tag()) { %>
            <div class="waterfall">
          <% page.posts.each(function(post){ %>

            <%- partial('_partial/archive', {post: post, date_format: config.date_format}) %>

        <% }) %>
            </div>
        <% } else { %>
            <%- tagcloud({
                min_font: 240/site.tags.length, 
                max_font: 960/site.tags.length, 
                amount: 999, 
                color: true, 
                start_color: 'teal', 
                end_color: 'yellowgreen',
            }) %>
        <% }
    %>
    <%- partial('_partial/paginator') %>
</div>
